[id*=timer]{
    background-color: rgb(60, 173, 60);
    width: 10vh;
    height: 1.5vh;
}

[id*=timer]::after{
    background-color: white;
}

.start{
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}

.end{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

.linetime{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 8px;
    padding: 0 17px;
}

.divtime{
    background-color: white;
}

@media (max-width:620px){
    .linetime{
        padding: 0;
    }
}