#category-navbar {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .logo-image {
    margin-right: 20px; 
    height: 50px;
    width: 80%;
    padding: 5px;
  }
 
  .fotoperfil{
    height: clamp(2.5rem, 1.9902rem + 1.4184vw, 3.125rem);;
    width: clamp(2.5rem, 1.9902rem + 1.4184vw, 3.125rem);;
    border-radius: 50%;
    z-index: 1;
    padding: 0 15px 0 0;
  }
  .items-navbar {
    flex-grow: 1;
    text-align: center; 
  }
  
  .items-navbar a {
    margin-right: 90px; 
  }
  
  .dropdown {
    margin-left: auto; 
    padding-right: 20px; 
    margin: 0 auto;
  }
  
.nav-text{
  font-size: 1.5em;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
  width:fit-content;
  height:50px;
  background: #2531AA;
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  cursor: pointer;

}
.nav-menu{
  display: flex;
  margin-left: 8vw;
}
.nav-menu-item{
  position: relative;
  top: 5px;
  width: fit-content;
  height:auto;
  list-style: none;
}

.active{
  outline: none;
  position: relative;
  overflow: hidden;
  transition: all .5s;
}
.active span{
  position: absolute;
  display: block;
}
.active span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.active span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
.active span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.active span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.active:hover, .inactive:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.active:hover span{
  animation-play-state: paused;
}


.dropdown-container {
    position: relative;
    float:right;
    margin-right: 20px;
}
  
  .dropdown-name, .dropdown-toggle {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 10px); 
    right: 0;
    background-color: #9747FF;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration:none;
    z-index: 2;
    row-gap: 5px;
  }

  a{
    text-decoration: none;
  }

  .dropdown-menu label:not(.dropdown-name2){
    cursor: pointer;
    width: fit-content;
    font-size: large;
  }

  .dropdown-menu label:not(.logout, .dropdown-name2):hover{
    color: #2531AA;
  }


  .logout:hover{
    color: #e41414;
  }

  .hr-menu{
    width: 70%;
  }
  
  .dropdown-option {
    cursor: pointer;
    transition: background-color 0.3s;
  }


@media (max-width:900px){
  .dropdown-name{
    display: none;
  }
}

@media (min-width:900px){
  .dropdown-name2, .hr-name{
    display: none;
  }
}

@media (max-width:600px){
  .nav-menu-item{
    display: none;
  }
}



  