.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.main-trivia {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos internos a la izquierda */
  width: 100%;
  margin-top: -15px;
  justify-content: normal;
}

.main-wildcards {
  
  width: 100%; /* Abarca todo el ancho del contenedor principal */
  display: flex;
  margin-left: 4%;
  justify-content: center;

}

.section-centered {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  text-align: center;
  margin-top: -15px;
  width: 100%;
}
@media (max-width:800px){
  .section-centered{
    margin-top: 30px;
  }
}
.centered{
  text-align: center;
  color: #fff;
}

.form-answers{
  display: flex;
}

.question-button{
  width: 100%;
  height: auto;
  min-height: 50px;
  border-radius: 8px;
  border: none;  
  cursor: pointer;
  transition: transform 0.3s ease; 
}
.question-button:hover{
  transform: scale(0.9);
  border:2px solid #0c347e;
  background-color:#2f75f7;
  color: #fefefe;
}

.correct:focus {
  background-color: #008f39;
  animation: correct-animation 1s ease-in-out infinite;
}

.wrong:focus {
  background-color: #d83f11;
  animation: wrong-animation 1s ease-in-out infinite;
}

@keyframes correct-animation {
  0% {
    background-color: #008f39;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #008f39;
  }
}

@keyframes wrong-animation {
  0% {
    background-color: #d83f11;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #d83f11;
  }
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: black;
}

.question-trivia{
  margin: 0 auto;
  height:fit-content;
  width: 80vh;
  border-radius: 10px;
  background-color: #2531AA;
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}


.trivia-description{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 10px 10px 0 10px;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.options{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
  gap: 15px;
  padding: 15px;
  width: 100%;
}

.wildcard-icon-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.wildcard-text-overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  color: #2531AA;
  font-size: 20px;
  text-align: center;
}

.wildcard-icon-overlay .icon-large {
  font-size: 5rem;
  color: white; 
}

@media (max-width:620px) {
  .question-trivia{
    width: 40vh;
  }
  .linetime{
    padding: 0;
  }
}